$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

.hero-unit {
    margin: 50px auto 0 auto;
}

body {
    margin-bottom: 20px;
}

.fierce {
    color: rgb(0, 0, 153);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.markets {
    color: rgb(255, 102, 0);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.hero-unit {
    padding: 30px;

    ul {
        li {
            font-size: 24px;
            margin-top: 10px;
        }
    }
    .row {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 25px;
    }

    div {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10px;
    }
}

#web-places {
    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline;
            list-style-type: none;
            padding: 0 5px;
            margin: 0;

            h3 {
                display: inline;
            }
        }
    }
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

    div.container {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0 10px 20px 10px;
        padding: 0;
        font-size: 15px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;

        li {
            margin-top: 5px;
        }
    }

    .hero-unit {
        margin: 0;
        padding: 15px;

        h1 {
            font-size: 40px;
        }

        ul {
            margin: 0;
            padding: 0 10px;

            li {
                margin: 10px 0;
                padding: 0;
                font-size: 20px;
            }
        }

        #web-places {
            ul {
                li {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    h2 {
        font-size: 25px;
    }

}


